* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
      background: linear-gradient(to right, rgb(52, 148, 230), rgb(236, 110, 173));
}

code {
  font-family: 'Roboto', sans-serif;
}

.linkRedes {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 300ms ease;
}

.linkRedes:hover {
  color: #ccc;
}



